<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/javascripts/createTimerForm.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />


<h1> Reserve Room </h1>

<div class "=newline">
</div>

<div class="newline">
	<h2><%= type %> Room in <%= location %></h2>
</div>
<div class="newline">
	<h1><%=          startdate %></h1>
	<h1><%= starttime %> to <%= endtime %></h1>
</div>
<div class="newline">
Select your notification types:
<form>
<input type="checkbox" name="text" value="text">Text<br>
<input type="checkbox" name="email" value="email">E-Mail
</form>
</div>
<div class="newline">
	<div id="timerformsubmit" class="timerformbutton">Reserve Room</div>
</div>
